* {
    text-align: center;  
    font-family: 'Heebo', sans-serif;
}

section {
    border-radius: 5px;
    border: rgb(0, 0, 0, 0) solid 1px;
    background-color: rgb(196, 4, 26);
    margin-right: 490px;
    margin-left: 490px;
    -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
    line-height: 20px;
    padding-top: 5px;
}

.top {
    margin-bottom: 40px;
}

.bottom {
    background-color: rgb(174, 2, 23);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 35px;
    padding-bottom: 20px;
}

h1 {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

img {
    height: 30px;
    vertical-align: middle;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent) , to(rgba(237, 238, 240, 0.1)));
}

input {
    border-radius: 5px;
    line-height: 30px;
    background-color: rgb(233, 232, 232);
    color: black;
    text-align: right;
}

input::placeholder {
    text-align: right;
    color: #2e3652;
    font-size: 18px;
}

.text-input {
    height: 35px;
    width: 272px;
    color: #2e3652;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.pass-input {
    height: 35px;
    width: 272px;
    color: #2e3652;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 16px;
}

.btn-login {
    border-radius: 100px;
    background-color: #fff;
    color: rgb(174, 2, 23);
    font-weight: bold;
    height: 32px;
    width: 142px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(rgb(237, 238, 240), rgb(255, 255, 255));
}

.btn-logo {
    width: 297px;
    height: 75px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(rgb(255, 255, 255), rgb(237, 238, 240));
    margin-bottom: 20px;
}

.btn-logo span {
    line-height: 40px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.bottom a {
    
    font-weight: bold;
}